<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
		<title> Neural Concept Recognizer </title>
	</head>
	<body>
	<div class="intro">
	<h1> Neural Concept Recognizer </h1>
	<p>
	NCR is a concept recognizer for annotating unstructured text with concepts from an ontology. In its core, NCR uses a deep neural network trained to classify input phrases with concepts in a given ontology, and is capable of generalizing to synonyms not explicitly available.
Currently NCR is trained to recognize concepts from Human Phenotype Ontology (<a href="http://human-phenotype-ontology.github.io/">HPO</a>).
	</p>

	<p>
If interested in using the RESTful API, please check the <a href="http://ncr.ccm.sickkids.ca/api_doc/">documentation</a> page.
	</p>

	<p>
For further questions, please contact us at:
	</p>
	<ul>
		<li>
		<a href="http://www.cs.toronto.edu/~arbabi/">Aryan Arbabi</a>, arbabi AT cs DOT toronto DOT edu
		</li>
		<li>
		<a href="http://www.cs.toronto.edu/~brudno/">Michael Brudno</a>, brudno AT cs DOT toronto DOT edu
		</li>
	</ul>
	</div>
	<div class="ant">
		Enter text to annotate:
		<form class="form-style-9" action="#" method="POST">
			<ul>
				<li>
					<textarea name="text" class="field-style" placeholder="Message">{{ texxt }}</textarea>
				</li>
				<li>
					<input type="submit" value="Annotate" />
				</li>
			</ul>
		</form>
	{% if tokens %}
	<div class="owners">
	<div class="res">
	{% for token in tokens %}
		{% if token.hp_id %}
		<span class="own"> {{token.text}}
			<span class="own1">
			{{ token.hp_id }}
			<p>
			{{ token.name }}
			</p>
			</span>
		</span>
		{% else %}
		{{ token.text }}
		{% endif %}
	{% endfor %}
	</div>
	</div>
	{% endif %}
	</div>
	</body>
</html>

